@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
/* font-family: "Bona Nova", serif; */
/* font-family: "Inter", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Yesteryear", cursive; */
body,html{
    height: 100%;
    font-family: "Inter", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
.commonBackgroundSection{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-image: url('../images/commonBackground.png');
}
.commonBackgroundSection .commonHeadingSection{
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.commonBackgroundSection .commonHeadingSection h1{
    color: #FAF9F6;
    text-align: center;
    font-family: "Bona Nova", serif;
    font-size: 101px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
.commonBackgroundSection .commonHeadingSection p{
    color: rgba(250, 249, 246, 0.80);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
    max-width: 532px;
    margin: 0 auto;
}
.commonBackgroundSection .topMenus{
    max-width: 416px;
    border-color: #FFFFFF;
}
.commonBackgroundSection .topMenus ul li a{
    color: #FFFFFF;
}
.commonBackgroundSection .topMenus ul li a.letTalkMenu{
    background-color: #FFFFFF;
    color: #000000;
}
.commonBackgroundSection .topMenus.fixed{
    background-color: #000000;
    top: 0;
}
.commonBackgroundSection .learnMoreSection a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
}
.commonBackgroundSection .learnMoreSection .textReadMore{
    color: #FFFFFF;
}
.commonBackgroundSection .learnMoreSection .chevron:before,
.commonBackgroundSection .learnMoreSection .chevron:after{
    background: #FFFFFF;
}
.homeSectoin{
    position: relative;
    background-image: url('../images/mainBG.png');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.fort_img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/fort_img.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cloud_left{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/coud_left.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.cloud_right{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/cloud_right.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.rockOne{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/rockOne.webp');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    background-attachment: fixed;
}
/* .fadeInLeftCloud,
.fadeInRightCloud{
    opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
} */
.fadeInLeftCloud {
    opacity: 1;
    transform: translateX(-200px) translateY(11px);
    position: absolute;
    top: 0%;
    left: 18%;
    transition: transform 1s ease-in-out;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    image-rendering: auto;
}
@media(max-width: 767px){
    .fadeInLeftCloud{
        display: none;
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.topMenus{
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    top: 20px;
    border: solid 2px #000000;
    /* background-color: rgba(255, 255, 255, 0.30); */
    max-width: 454px;
    margin: 0 auto;
    border-radius: 6px;
}
.topMenus.fixed{
    background-color: #FFFFFF;
}
/* .topMenus .topMenusOverlay{
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.30);
    max-width: 100%;
    filter: blur(100px);
} */
.topMenus ul{
    list-style: none;
    padding: 12px 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topMenus ul li a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 12px;
    display: inline-block;
}
.topMenus ul li a.letTalkMenu{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 4px;
}
@media(max-width: 575px){
    .topMenus{
        max-width: fit-content;
        padding: 0 10px;
    }
    .topMenus ul{
        padding: 6px 0;
    }
    .topMenus ul li a{
        font-size: 12px;
        padding: 6px;
    }
}
.homeContainer{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media(max-width: 1024px){
    .homeContainer{
        height: 100%;
    }
}
.homeContainer h1{
    max-width: 800px;
    font-size: 48px;
    text-align: center;
    padding-top: 150px;
    color: #0E0E0E;
    font-family: "Bona Nova", serif;
}
@media(max-width: 575px){
    .homeContainer h1{
        font-size: 36px;
        text-align: center;
        font-weight: 500;
        padding: 0px 30px;
        
    }
}
.learnMoreSection .chevron{
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: 60px;
    width: 24px;
    height: 2px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    margin: 0 auto;
}
.textReadMore{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: 0 auto;
    text-align: center;
  }
.learnMoreSection .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
.learnMoreSection .chevron:nth-child(2) {
animation: move 3s ease-out 2s infinite;
}  
.learnMoreSection .chevron:before,
.learnMoreSection .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #000000;
  }
  
.learnMoreSection .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
  
.learnMoreSection .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

.aboutUsSection{
    position: relative;
    padding: 70px 0;
    /* background-image: url('../images/Background_texture.png'); */
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-x;
}
.aboutChina{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.aboutChina p{
    color: #0E0E0E;
    font-family: "Bona Nova", serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 1.5px;
    text-align: justified;
}
.kingPhotos{
    position: relative;
}
.kingPhotos img{
    width: 100%;
    max-width: 525px;
}
.aboutUsCotainer{
    position: relative;
    max-width: 1416px;
    margin: 0 auto;
}
@media(max-width: 1440px){
    .aboutUsCotainer,
    .ConclusionSection{
        max-width: 1320px;
        padding: 0 20px;
    }
    .aboutChina p{
        font-size: 26px;
    }
}
@media(max-width: 1366px){
    .aboutUsCotainer,
    .ConclusionSection{
        max-width: 1140px;
        padding: 0 20px;
    }
}
@media(max-width: 767px){
    .aboutUsCotainer{
        text-align: center;
    }
    .kingPhotos{
        margin-bottom: 20px;
    }
    .aboutChina{
        text-align: left;
    }
}
.aboutUsCotainer .container{
    max-width: 100%;
    padding: 0;
}
.AncientDesigns{
    position: relative;
    max-width: 1416px;
    margin: 0px auto 70px;
}
@media(max-width: 1440px){
    .AncientDesigns{
        max-width: 1320px;
        padding: 0 20px;
    }
}
@media(max-width: 1366px){
    .AncientDesigns{
        max-width: 1140px;
        padding: 0 20px;
    }
}
.AncientDesigns .container{
    padding: 0;
    max-width: 100%;
}
@media(max-width: 1024px){
    .AncientDesigns .container,
    .aboutUsCotainer .container{
        padding: 0 30px;
        max-width: 100%;
    }   
}
.AncientDesigns h2{
    font-size: 24px;
    margin-bottom: 24px;
    color: #000000;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}
.AncientDesigns p{
    font-size: 16px;
    margin-bottom: 24px;
    color: #5E5F66;
    font-family: "Roboto", sans-serif;
}
.AncientDesigns p span{
    font-weight: 600;
    color: #0E0E0E;
    font-family: "Roboto", sans-serif;
}
.RebrandingSection{
    margin-top: 0 !important;
}
.RebrandingSection .Rebranding_img img{
    width: 100%;
}
.RebrandingSection .Rebranding_img p{
    text-align: center;
    font-size: 10px;
    margin: 0;
    color: #5E5F66;
}
.AncientDesigns .DesignMedium img{
    width: 100%;
}
.AncientDesigns .DesignMedium p{
    text-align: center;
    margin: 0;
    font-size: 14px;
    color: #0E0E0E;
}
.AncientDesigns .Huangsprojects{
    position: relative;
    display: flex;
    align-items: center;
}
.AncientDesigns .Huangsprojects img{
    width: 408px;
    margin-right: 24px;
}
.AncientDesigns .Huangsprojects p{
    font-size: 18px;
    width: calc(100% - 432px);
    margin: 0;
    line-height: 30px;
}
@media(max-width: 767px){
    .AncientDesigns .Huangsprojects{
        flex-direction: column;
    }
    .AncientDesigns .Huangsprojects img{
        width: auto;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .AncientDesigns .Huangsprojects p{
        width: 100%;
    }
}
.AncientDesigns .lessonTodayDesigner{
    position: relative;
}
.AncientDesigns .lessonTodayDesigner h3{
    color: #000000;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
}
.AncientDesigns .lessonTodayDesigner ol{
    padding: 0 0 0 20px;
    margin: 0;
}
.AncientDesigns .lessonTodayDesigner ol li{
    margin-bottom: 16px;
}
.AncientDesigns .lessonTodayDesigner ol li p{
    margin: 0;
}
.AncientDesigns .lessonTodayDesigner ol li p span{
    font-weight: 600;
    color: #000000;
}
.AncientDesigns .lessonTodayDesigner ol li:last-child{
    margin: 0;
}
.ConclusionSection .ConclusionContainer{
    position: relative;
    padding: 30px;
    font-family: "Bona Nova", serif;
    box-shadow: 5px 5px 10px 0 #ccc;
    border: solid 1px #ccc;
}
.ConclusionSection .ConclusionContainer h3{
    font-family: "Bona Nova", serif;
    font-size: 24px;
    margin-bottom: 14px;
}
.ConclusionSection .ConclusionContainer p{
    font-size: 18px;
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 24px;
}
.AncientDesigns.References .ReferencesContainer{
    position: relative;
    font-style: italic;
}
.AncientDesigns.References .ReferencesContainer h2{
    color: rgba(77, 78, 84,0.6);
    font-size: 24px;
    margin-bottom: 10px;
}
.AncientDesigns.References .ReferencesContainer ol{
    margin: 0;
    padding: 0 0 0 20px;
}
.AncientDesigns.References .ReferencesContainer ol li{
    margin-bottom: 16px;
    color: rgba(77, 78, 84,0.6);
}
.AncientDesigns.References .ReferencesContainer ol li:last-child{
    margin: 0;
}
.exploreMoreSection{
    position: relative;
}
.exploreMoreSection .exploreMoreHeading{
    position: relative;
    text-align: center;
    padding: 40px 0;
}
.exploreMoreSection .exploreMoreHeading::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 180px;
    height: 4px;
    background-color: #EEEEEE;
    margin: 0 auto;
}
.exploreMoreSection .exploreMoreHeading h2{
    font-size: 28px;
    color: #000000;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin: 0;
}
.exploreCards{
    position: relative;
    padding: 32px;
}
.exploreMoreSection .exploreCards{
    position: relative;
    padding: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.exploreMoreSection .exploreCards img{
    width: 100%;
    max-width: 304px;
}
.exploreCards .cardsDescription{
    position: relative;
}
.exploreCards .cardsDescription span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #0E0E0E;
    margin: 10px 0;
}
.exploreCards .cardsDescription h3{
    font-size: 23px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #000000;
    line-height: 130%;
    margin-bottom: 4px;   
}
.exploreCards .cardsDescription p{
    font-size: 17px;
    margin-bottom: 16px;
    color: #5E5F66;
}
.exploreCards .cardsDescription strong{
    background-color: rgba(77, 78, 84,0.2);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    margin-bottom: 8px;
    display: inline-block;
}
@media(max-width: 767px){
    .exploreCards{
        margin-bottom: 20px;
    }
    .exploreMoreSection .exploreCards img{
        max-width: 96%;
    }
}


.disneysHomeSection{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../images/disneys_images/mainBg.png');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
@media(max-width: 767px){
    .disneysHomeSection{
        background-size: cover;
    }
}
.disneysHomeSection .topMenus{
    border-color: #FFFFFF;
}
.disneysHomeSection .topMenus.fixed{
    background-color: #000000;
}
.disneysHomeSection .topMenus ul li a{
    color: #FFFFFF;
    font-size: 13px;
    font-family: "Roboto", sans-serif;   
    padding: 12px 14px;
}
@media(max-width: 575px){
    .disneysHomeSection .topMenus ul li a{
        padding: 12px 10px;
    }
}
.disneysHomeSection .homeContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.disneysHomeSection .homeContainer h1{
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: -30px;
}
@media(max-width: 767px){
    .disneysHomeSection .homeContainer h1{
        padding: 0 20px;
    }
}
@media(max-width: 1440px){
    .disneysHomeSection .homeContainer h1{
        margin-top: -150px;
    }
}
.disneysHomeSection .homeContainer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.disneysHomeSection .homeContainer ul li{
    background-color: rgba(225,225,225,0.9);
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #FAF9F6;
    margin-right: 30px;
    border-radius: 4px;
    font-size: 16px;
    color: #FAF9F6;
}
.disneysHomeSection .homeContainer ul li:last-child{
    margin-right: 0;
}
@media(max-width: 600px){
    .disneysHomeSection .homeContainer ul{
        flex-direction: column;
    }
    .disneysHomeSection .homeContainer ul li{
        margin: 0 0 12px 0;
    }
}
.disneysHomeSection .learnMoreSection .textReadMore{
    color: #FFFFFF;
}
.disneysHomeSection .learnMoreSection .chevron::before,
.disneysHomeSection .learnMoreSection .chevron::after{
    background-color: #FFFFFF;
}
.mainContianer{
    position: relative;
    max-width: 1416px;
    margin: 0px auto 70px;
}
.mainContianer .container{
    position: relative;
    max-width: 100%;
    padding: 0 20px;
}
.mainContianer h2{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-bottom: 16px;
}
@media(max-width: 1440px){
    .mainContianer{
        max-width: 1320px;
    }
}
@media(max-width: 1366px){
    .mainContianer{
        max-width: 1140px;
    }
}
@media(max-width: 1024px){
    .mainContianer h2{
        font-size: 22px;
    }
}
.disneysAboutUs p{
    position: relative;
    margin: 60px 0 0 0;
    font-family: "Bona Nova", serif;
    font-size: 24px;
    line-height: 36px;   
}
.CreativeThinkingProcess{
    position: relative;
}
.CreativeThinkingProcessContainer p,
.TheDreamerSection .TheDreamerContainer p{
    color: #0E0E0E;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
.TheDreamerSection .TheDreamerContainer img{
    width: 100%;
    margin-bottom: 16px;
}
.TheDreamerSection .TheDreamerContainer h3{
    font-size: 18px;
    color: #0E0E0E;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 16px;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
        width: 100%;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
}
.mainContianer.moviesImageSlider{
    max-width: 1100px;
    margin: 0 auto 70px;
}
.mainContianer.moviesImageSlider .carousel-inner .carousel-item .card{
    padding: 0 16px;
    border: none !important;
}
@media(max-width: 767px){
    .mainContianer.moviesImageSlider .carousel-inner .carousel-item .card,
    .mainContianer.moviesImageSlider .carousel-inner .carousel-item .card img{
        width: 100%;
    }
}
.mainContianer.moviesImageSlider .carousel-control-prev{
    background: linear-gradient(90deg, rgba(255,255,255,0.8421193184304971) 33%, rgba(255,255,255,0) 100%);
}
.mainContianer.moviesImageSlider .carousel-control-next,
.mainContianer.moviesImageSlider .carousel-control-next:hover{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8421193184304971) 70%);
}

.disneysHomeSection.makingAmazonHomeSection{
    background-image: url('../images/amazonProduct/homeBackground.png');
    margin-bottom: 78px;
}
.disneysHomeSection.makingAmazonHomeSection h1{
    max-width: 850px;
}
.disneysHomeSection.makingAmazonHomeSection .topMenus{
    max-width: 394px;
}
.disneysHomeSection.makingAmazonHomeSection .topMenus ul li a{
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.disneysHomeSection.makingAmazonHomeSection .topMenus ul li a.letTalkMenu{
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 4px;
}
.disneysHomeSection.makingAmazonHomeSection .homeContainer ul li{
    background: linear-gradient(90deg, rgba(255,255,255,0.7) 50%, rgba(250,249,246,0.7) 60%);
    text-transform: uppercase;
}
.disneysHomeSection.makingAmazonHomeSection .textReadMore{
    font-size: 14px;
    color: #000000;
    z-index: 3;
    bottom: 40px;
}
.makingAmazonHomeSection.disneysHomeSection .learnMoreSection .chevron::before,
.makingAmazonHomeSection.disneysHomeSection .learnMoreSection .chevron::after{
    background-color: #000000;
}
.makingAmazonHomeSection.disneysHomeSection .learnMoreSection img{
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    margin: auto;
    width: 260px;
}
.amazonFrame_img img{
    width: 100%;
}
.DarkPatternBox{
    position: relative;
    border-radius: 3px;
    border: 3px solid #ECECEC;
    background: #FFF;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
}
.DarkPatternBox .darkPatterContents{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 50px 0 20px;
}
.DarkPatternBox .darkPatterContents h2{
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 40.8px */
    letter-spacing: 1px;
    margin-bottom: 24px;
}
.DarkPatternBox .darkPatterContents p{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
    color: #000000;
}
.DarkPatternBox .darkPatterContents span{
    background-color: #ECECEC;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    border-radius: 7px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 165%; /* 33px */
    letter-spacing: 1px;
    width: fit-content;
}
.DarkPatternBox .DarkPatternImg img{
    width: 100%;
}
.PsychologicalPrinciplesSection{
    position: relative;
}
.PsychologicalPrinciplesHeading h2{
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 40.8px */
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 60px;
}
.PsychologicalPrinciplesSection .psychologicalCard{
    position: relative;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    padding: 25px;
    font-family: "Roboto", sans-serif;
    height: 704px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.PsychologicalPrinciplesSection .psychologicalCard h3{
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 40.8px */
    letter-spacing: 1px;
    color: #000000;
    font-family: "Roboto", sans-serif;
}
.PsychologicalPrinciplesSection .psychologicalCard img{
    margin: 24px 0;
    width: 100%;
}
.PsychologicalPrinciplesSection .psychologicalCard p{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    text-align: justify;
}
.mainContianer .amazonDiscountImg{
    position: relative;
}
.mainContianer .amazonDiscountImg img{
    width: 100%;
}
.mainContianer .StatusQueBiasWrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.mainContianer .StatusQueBias{
    position: relative;
    border-radius: 2px;
    border: 3px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
    padding: 50px;
}
.mainContianer .StatusQueBias h3{
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 40.8px */
    color: #000000;
    letter-spacing: 1px;
    margin-bottom: 24px;
}
.mainContianer .StatusQueBias span{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 130%; /* 26px */
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin: 24px 0;
    background-color: #ECECEC;
    padding: 2px 4px;
}
.mainContianer .StatusQueBias p{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
}
@media(max-width: 767px){
    .mainContianer .StatusQueBiasWrapper{
        height: auto;
        margin-bottom: 20px;
    }
}
.butDiscountSection .butDiscountHeading{
    position: relative;
}
.butDiscountSection .butDiscountHeading h2{
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 40.8px */
    letter-spacing: 1px;
    color: #000000;
}
.butDiscountSection .butDiscountHeading img{
    width: 100%;
}
.SecondOrderEffect{
    margin-top: 24px;
    padding: 70px 40px;
    position: relative;
    border-radius: 2px;
    border: 3px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
}
.SecondOrderEffect h3{
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 40.8px */
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    color: #000000;
    margin-bottom: 24px;
}
.SecondOrderEffect p{
    color: #000;
    text-align: justify;
    /* Roboto Regular */
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
}
.moreethicalSection .blankBox{
    width: 100%;
    height: 870px;
    border: 3px solid rgba(0, 0, 0, 0.20);
    background: #CDCDCD;
}
.moreethicalHeading h2{
    position: relative;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 40.8px */
    letter-spacing: 1px;
    margin-bottom: 60px;
}
.moreethicalSection .seamlessExperience{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.moreethicalSection .seamlessExperience .ReadyForSeamless{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.moreethicalSection .seamlessExperience .ReadyForSeamless img{
    width: 100%;
    margin-bottom: 40px;
    max-width: 300px;
}
.moreethicalSection .seamlessExperience .ReadyForSeamless h3{
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 40.8px */
    letter-spacing: 1px;
    margin-bottom: 24px;
}
.moreethicalSection .seamlessExperience .ReadyForSeamless a{
    border-radius: 12px;
    border: 3px solid rgba(185, 185, 185, 0.50);
    background: #FFD600;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.05);
    text-decoration: none;
    display: flex;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.conclusionBox{
    position: relative;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
    padding: 30px;
}
.conclusionBox .conclusionContainer{
    position: relative;
}
.conclusionBox .conclusionContainer h2{
    color:#101720;
    font-family: "Bona Nova", serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 40.8px */
    letter-spacing: 1px;
    margin: 0;
}
.conclusionBox .conclusionContainer p{
    color: #0E0E0E;
    text-align: justify;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
    margin: 24px 0;
    font-family: "Roboto", sans-serif;
}
.conclusionContainer .meetSign{
    position: relative;
    display: flex;
    align-items: center;
}
.conclusionContainer .meetSign img{
    width: 70px;
    margin-right: 10px;
}
.conclusionContainer .meetSign div{
    display: flex;
    align-items: initial;
    justify-content: inherit;
    flex-direction: column;
}
.conclusionContainer .meetSign div p{
    font-family: "Yesteryear", cursive;
    color:#101720;
    text-align: justify;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 57.6px */
    margin: 0;
}
.conclusionContainer .meetSign div span{
    color: #101720;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%; /* 21.6px */
    font-family: "Roboto", sans-serif;
    margin-top: -18px;
}
#mainBlog.exploerSection{
    margin: 80px auto 100px;
}
.exploerSection{
    position: relative;
}
.exploerSection h2{
    color: #101720;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 40.8px */
    letter-spacing: 1px;
    margin-bottom: 60px;
}
.exploerSection .exploreSectionCards{
    position: relative;
    border-radius: 20px;
    border: 1.5px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 20px;
    margin-bottom: 24px;
}
@media(max-width: 767px){
    .exploerSection .exploreSectionCards{
        padding: 20px 16px;
    }
}
.exploerSection .exploreSectionCards a{
    color: #000000;
    text-decoration: none;
}
.exploerSection .exploreSectionCards a img{
    width: 100%;
    border-radius: 12px;
}
.exploerSection .exploreSectionCards a span{
    text-align: center;
    color: #101720;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.exploerSection .exploreSectionCards a h3{
    color: #101720;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
    letter-spacing: 1px;
    margin-bottom: 6px;
}
.exploerSection .exploreSectionCards a p{
    margin-bottom: 6px;
    color: #505158;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
}
.exploerSection .exploreSectionCards a i{
    font-style: normal;
    color:#505158;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1px;
    border-radius: 2px;
    background: rgba(77, 78, 84, 0.20);
    padding: 4px;
    text-transform: uppercase;
}
@media(max-width: 767px){
    .disneysHomeSection.makingAmazonHomeSection{
        height: 60%;
    }
    .DarkPatternBox,
    .conclusionBox{
        margin: 0 30px;
    }
    .DarkPatternBox .darkPatterContents{
        padding: 30px;
    }
    .PsychologicalPrinciplesHeading{
        margin-top: 24px;
    }
    .PsychologicalPrinciplesSection .psychologicalCard{
        height: auto;
        margin-bottom: 24px;
    }
}

@media(max-width: 575px){
    .disneysHomeSection.makingAmazonHomeSection{
        height: 70%;
    }
    .DarkPatternBox,
    .conclusionBox{
        margin: 0 15px;
    }
    .DarkPatternBox .darkPatterContents{
        padding: 20px;
    }

}
footer{
    position: relative;
    background-image: url('../images/footerBg.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 70px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer span{
    color: #FFF;
    color: #FFF;
    text-align: center;
    font-family: "Satoshi Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
footer h4{
    color: #FFF;
    text-align: center;
    font-family: "Bona Nova", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 36px */
    margin-bottom: 16px;
}
footer h3{
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 101px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 101px */
    margin-bottom: 16px;
}
@media(max-width: 767px){
    footer h3{
        font-size: 80px;
    }
}
@media(max-width: 575px){
    footer h3{
        font-size: 55px;
    }
}
footer h5{
    color: #FFF;
    text-align: center;
    font-family: "Bona Nova", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 36px */
    margin-bottom: 40px;
}
footer a{
    border-radius: 53px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(20px);
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 80px;
}
footer a:hover{
    cursor: pointer;
    color: #FFFFFF;
}
footer p.footerBottomText{
    margin: 0;
    color:#FFFFFF;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 24px */
    letter-spacing: 1.5px;
}
footer p.footerBottomText i{
    color: rgba(255, 255, 255, 0.70);
    font-style: normal;
}
footer p.footerBottomText a{
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 15px;
    display: inline-block;
    margin: 0;
}
#ContactUsSection{
    position: relative;
    margin: 60px auto;
}
.contactUsImg{
    position: relative;
}
.contactUsImg img{
    width: 100%;
}
.contactUsImg .contactUsImgOverlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, rgba(255,255,255,0.01578878621761204) 10%, rgba(250,249,246,0.2) 100%);
}
.contactUsForm{
    position: relative;
}
.contactUsForm form{
    padding: 32px;
    border-radius: 10px;
    border: 1px solid rgba(26, 70, 112, 0.15);
    background: rgba(26, 70, 112, 0.05);
}
.contactUsForm form .formFeild{
    margin: 0 0 24px 0;
    position: relative;
}
.contactUsForm form .formFeild input,
.contactUsForm form .formFeild textarea{
    padding: 8px 16px;
    border-radius: 3px;
    border: 1px solid rgba(26, 70, 112, 0.15);
    background: rgba(26, 70, 112, 0.05);
    width: 100%;
}
.contactUsForm form .formFeild textarea{
    height: 200px;
    resize: none;
}
.contactUsForm form .formFeild input:focus,
.contactUsForm form .formFeild textarea:focus{
    border: solid 1px #000000;
    box-shadow: none;
    outline: none;
}
.contactUsForm form .formFeild button,
.contactUsForm form .formFeild a{
    border-radius: 6px;
    background: #1A4670;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
    border: solid 1px transparent;
    padding: 16px;
    color:#FAF9F6;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
    width: 100%;
    text-decoration: none;
}
.contactUsForm form .formFeild button:hover,
.contactUsForm form .formFeild a:hover{
    border: solid 1px #1A4670;
    color: #1A4670;
    background-color: transparent;
}
.otherButtons{
    position: relative;
    margin-top: 24px;
}
.otherButtons button{
    border-radius: 2px;
    border: 1px solid rgba(41, 104, 62, 0.15);
    background: rgba(26, 70, 112, 0.05);
    padding: 12px 16px;
}
.otherButtons button:focus{
    cursor: pointer;
    box-shadow: none;
    outline: none;
}
.otherButtons button.callNow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}
.otherButtons button.callNow svg{
    margin-right: 8px;
}
.otherButtons ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.otherButtons ul li{
    width: 48%;
    display: flex;
    align-items: center;
}
.otherButtons ul li button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width: 440px){
    .otherButtons ul li{
        width: 100%;
    }
}
.walmartHeroSection{
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(99.88% 114.91% at 49.17% 100%, #1975CE 0%, #0059A1 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.narBar{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
    width: fit-content;
    padding: 12px 20px;
    border-radius: 47px;
    border: 1.5px solid #8C8C8C;
    background: var(--Miscellaneous-Bar-border, rgba(0, 0, 0, 0.30));
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.10) inset;
    backdrop-filter: blur(15px);
    z-index: 99;
}
.narBar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 32px;
}
.narBar ul li a{
    text-decoration: none;
    color:#ECECEC;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 20.8px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
}
.narBar ul li a.letsTalkMenu{
    border-radius: 39px;
    border: 1px solid #FFF;
    background: rgba(250, 249, 246, 0.80);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color:#101720;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 20.8px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.narBar ul li ul{
    position: absolute;
    width: 180px;
    border: 1.5px solid #8C8C8C;
    background: rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.10) inset;
    backdrop-filter: blur(15px);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 0;
    display: none;
}
.narBar ul li ul li a{
    text-decoration: none;
    color:#ECECEC;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 20.8px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.narBar ul li:hover ul{
    display: flex;
}
@media(max-width: 767px){
    .narBar{
        top: 15px;
    }
    .narBar ul{
        gap: 16px;
    }
    .narBar ul li a{
        font-size: 12px;
    }
}
.walmartHeading{
    position: relative;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.walmartHeading h1{
    color:#FAF9F6;
    text-align: center;
    font-family: "Bona Nova";
    font-size: 77px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    max-width: 1416px;
}
.walmartHeading ul{
    list-style: none;
    padding: 0;
    margin: 70px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.walmartHeading ul li{
    padding: 20px 60px;
    border-radius: 65px;
    border: 1.5px solid #FFF;
    background: var(--color-blue-white-background, rgba(255, 255, 255, 0.20));
    backdrop-filter: blur(20px);
    color: rgba(250, 249, 246, 0.60);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.walmartHeading img{
    width: 100px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}
@media(max-width: 1366px){
    .walmartHeading h1{
        font-size: 60px;
        padding: 0 30px;
        max-width: 1140px;
    }
    .walmartHeading ul li{
        padding: 10px 40px;
    }
}
.aboutWalmart{
    position: relative;
}
.walmartAboutText{
    position: relative;
    margin: 70px 0 60px 0;
    color: #0E0E0E;
    text-align: justify;
    font-family: "Bona Nova";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 45px */
    letter-spacing: 0.5px;
}
.aboutWalmart h2{
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 40.8px */
    letter-spacing: 1px;
    margin-bottom: 24px;
}
.aboutWalmart h3{
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 31.2px */   
}
.aboutWalmart  p{
    color: #505158;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
@media(max-width: 1366px){
    .walmartAboutText{
        font-size: 24px;
    }
    .aboutWalmart h2{
        font-size: 28px;
    }
    .aboutWalmart h3{
        font-size: 24px;
    }
    .aboutWalmart  p{
        font-size: 18px;
    }
}
@media(max-width: 767px){
    .walmartAboutText{
        font-size: 20px;
    }
    .aboutWalmart h2{
        font-size: 22px;
    }
}
.walmartSlider{
    position: relative;
    width: 80%;
    margin: 0 auto 60px;
}

.meetNavadiyaAboutMe{
    position: relative;
    border-radius: 3px;
    border: 1px solid rgba(26, 70, 112, 0.15);
    background: rgba(26, 70, 112, 0.05);
    padding: 22px 32px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.meetNavadiyaAboutMe span{
    color:#101720;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 18px */
    letter-spacing: 1px;
    display: block;
    margin-bottom: 24px;
}
.meetNavadiyaAboutMe h2{
    color: #101720;
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 54px */
    margin-bottom: 24px;
}
.meetNavadiyaAboutMe p{
    margin-bottom: 24px;
    color: #505158;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
}
@media(max-width: 1366px){
    .meetNavadiyaAboutMe span{
        font-size: 14px;
    }
    .meetNavadiyaAboutMe h2{
        font-size: 30px;
    }
    .meetNavadiyaAboutMe p{
        font-size: 18px;
    }
}
.MyHighlightSection{
    position: relative;
}
.MyHighlightSection h2{
    margin-bottom: 24px;
    color: #101720;
    font-family: "Roboto", sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.MyHighlightSection ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;    
}
.MyHighlightSection ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 49%;
    margin-bottom: 16px;
    border-radius: 2px;
    border: 1px solid rgba(26, 70, 112, 0.15);
    background: rgba(26, 70, 112, 0.05);
    padding: 10px 16px;
}
.MyHighlightSection ul li p{
    margin: 0;
    color: var(--color-body-text, #505158);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
}
.MyHighlightSection ul li span{
    color:#505158;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
}
.MyHighlightSection .myReadings{
    border-radius: 2px;
    border: 1px solid rgba(26, 70, 112, 0.15);
    background: rgba(26, 70, 112, 0.05);
    padding: 32px;
}
.MyHighlightSection .myReadings ul{
    display: flex;
    flex-direction: column;
}
.MyHighlightSection .myReadings ul li{
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
}
.MyHighlightSection .socailMediaSection{
    position: relative;
}
.MyHighlightSection .socailMediaSection ul{
    display: flex;
    align-items: center;
}
.MyHighlightSection .socailMediaSection ul li{
    display: flex;
    flex: 1;
}
.MyHighlightSection .socailMediaSection ul li button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media(max-width: 1366px){
    .MyHighlightSection h2{
        font-size: 35px;
    }
    .MyHighlightSection ul li p{
        font-size: 16px;
    }
    .MyHighlightSection ul li span{
        font-size: 16px;
    }
}
@media(max-width: 767px){
    .MyHighlightSection h2{
        font-size: 26px;
    }
    .MyHighlightSection ul{
        gap: 2px;
    }
    .MyHighlightSection ul li{
        width: 100%;
    }
}
.myCVButton{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.myCVButton button{
    border-radius: 8px;
    background: #1A4670;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
    padding: 10px;
    color: #FAF9F6;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: 0.5px;
    border: solid 1px #1A4670;
    width: 40%;
}
.myCVButton button:hover{
    background-color: #FFFFFF;
    border: solid 1px #1A4670;
    color: #1A4670;
}
.LightUpYourEntertainmentHeroSection{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/LightUpYourEntertainment_bg.png);
    background-size: cover;
    background-attachment: fixed;
}
.LightUpYourEntertainmentHeroSection .walmartHeading ul li{
    border: solid 1.5px #FFFFFF;   
}
.LightUpYourEntertainmentHeroSection .walmartHeading img{
    width: 250px;
}
.aboutLightUpYour{
    position: relative;
    margin: 60px auto;
}
.aboutLightUpYour p{
    color: #0E0E0E;
    text-align: justify;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 45px */
    letter-spacing: 0.5px;
}
@media(max-width: 1366px){
    .aboutLightUpYour p{
        font-size: 22px;
        line-height: 130%; /* 45px */
    }
}
@media(max-width: 767px){
    .aboutLightUpYour p{
        font-size: 20px;
        line-height: 120%; /* 45px */
    }
}
/* font-family: "Bona Nova", serif; */
/* font-family: "Inter", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Yesteryear", cursive; */
